.card {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  box-shadow: 0px 0px 20px #000000b3;
  text-align: center;
  /* transition: 0.3s; */
}

.card__image {
  width: 100%;
  overflow: hidden;
}

.card__header {
  color: white;
}

.card__body {
  text-align: left;
  font-family: 'Cinzel', serif;
}

.card__header-text {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Cinzel', serif;
  background-color: #58CCED;
  /* we set margin to 0 because h1 naturally has it assigned and so the card background color
  is interfering with the card header background. */
  margin: 0;
}

.card__footer {
  color: white;
  background-color: #254855;
  /* added clear both to get out of way of icon above */
  clear: both;
}

.card__link {
  display: inline-block;
  color: white;
  font-size: large;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.card__icon {
  color: #fff;
}

.card__logo-container {
  float: left;
  width: 30%;
}

.card__logo {
  width: 50%;
  padding-top: 10px;
  padding-top: 6px;
}
